/* variables o custon properties en css */

:root{
    --primaryColor:#836FFF;
    --secundaryColor:#EBF400;
    --gris:#3b3b3b;
    --blanco:#ffffff;
    --negro:#1f1e1e;
    --grisClaro:#e1e1e1;



    --fuentePrincipal:'Roboto', sans-serif;
    --fuenteSecundaria:'Lato', sans-serif;
}


body{
    font-family:var(--fuentePrincipal) ;
}
